@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  min-height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}