@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #facc15;
  /* yellow-400 */
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
  overflow: hidden;
  /* No scrollbars */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100vw;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .shadow-neo {
    box-shadow: 4px 4px 0px 0px #000000;
  }

  .shadow-neo-sm {
    box-shadow: 2px 2px 0px 0px #000000;
  }

  .shadow-neo-lg {
    box-shadow: 6px 6px 0px 0px #000000;
  }
}